.sidebar{
    width:240px;
    min-height:100vh;
    background:#1f2937;
    color:white;
    padding:25px;
}

.logo{
    margin-bottom:40px;
    text-align:center;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:12px 0;
}

.sidebar a{
    display:block;
    padding:12px;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.sidebar a:hover{
    background:#2563eb;
}

.active a{
    background:#2563eb;
}